@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model List<Kategori>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/SweetAlertSil.js"></script>

<style>
    .tbl_kategori {
        margin-top: 40px;
    }
</style>
<div class="container-fluid tbl_kategori">
    <h2>Kategoriler (Toplam Kategori : @ViewBag.ToplamKategori)</h2>
    <hr />
    <table class="table table-bordered" id="tbl1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kategori Adı</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.KategoriID</td>
                    <td>@item.KategoriAd</td>
                    <td><a href="/Kategori/KategoriSil/@item.KategoriID" id="Button3" runat="server" class="btn btn-danger btn-block" onclick="return conFunction(this);">Sil</a></td>
                    <td><a href="/Kategori/KategoriGetir/@item.KategoriID" class="btn btn-success btn-block">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" href="/Kategori/KategoriEkle">Yeni Kategori</a>
</div>

@*<div class="container">
    <h2>Employees Record</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Employee</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Kategori Ad
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Employee</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="KategoriAd">Kategori Ad</label>
                        <input type="text" class="form-control" id="KategoriAd" placeholder="Kategori Giriniz..." />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        loadData();
    });

    //Load Data function
    function loadData() {
        $.ajax({
            url: "/Kategori/List",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.KategoriID + '</td>';
                    html += '<td>' + item.KategoriAd + '</td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Add Data Function
    function Add() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var empObj = {
            EmployeeID: $('#EmployeeID').val(),
            Name: $('#Name').val(),
            Age: $('#Age').val(),
            State: $('#State').val(),
            Country: $('#Country').val()
        };
        $.ajax({
            url: "/Home/Add",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for getting the Data Based upon Employee ID
    function getbyID(EmpID) {
        $('#Name').css('border-color', 'lightgrey');
        $('#Age').css('border-color', 'lightgrey');
        $('#State').css('border-color', 'lightgrey');
        $('#Country').css('border-color', 'lightgrey');
        $.ajax({
            url: "/Home/getbyID/" + EmpID,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#EmployeeID').val(result.EmployeeID);
                $('#Name').val(result.Name);
                $('#Age').val(result.Age);
                $('#State').val(result.State);
                $('#Country').val(result.Country);

                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    function clearTextBox() {
        $('#EmployeeID').val("");
        $('#Name').val("");
        $('#Age').val("");
        $('#State').val("");
        $('#Country').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#KategoriAd').css('border-color', 'lightgrey');
    }
    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#KategoriAd').val().trim() == "") {
            $('#KategoriAd').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#KategoriAd').css('border-color', 'lightgrey');
        }
    }
</script>*@
