
@{
    ViewBag.Title = "Page400";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="error-page">
    <h2 class="headline text-warning"><i class="far fa-times-circle"></i>&nbsp;400&nbsp;</h2>
    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Bu sayfa şuan da çalışmamaktadır.</h3>
        <p>
            Aradığınız sayfaya ulaşılamadı. <a href="/Kategori/Index">Ana Sayfaya</a> geri dönmek isteyebilirsin.
        </p>
    </div>
</div>


