
@{
    ViewBag.Title = "Page500";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="error-page">
    <h2 class="headline text-danger"><i class="fas fa-times"></i>&nbsp;500&nbsp;</h2>
    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Bu sayfaya giriş yetkiniz bulunmamaktadır.</h3>
        <p>
            Aradığınız sayfaya ulaşılamadı. Maalesef Aradığın sayfaya giriş yetkiniz yoktur. <a href="/Kategori/Index">Ana Sayfaya</a> geri dönmek isteyebilirsin.
        </p>
    </div>
</div>


