<div class="login-form login-form-left">
    <div class="agile-row">
        <div>
            <h3>Cari Giriş</h3>
        </div>
        <div class="clear"></div>
        <div class="login-agileits-top">
            @using (Html.BeginForm("Partial2", "Login", FormMethod.Post))
            {
                <input type="text" class="name" name="CariMail" Placeholder="E-mail Adresi" required="" />
                <input type="password" class="password" name="CariSifre" Placeholder="Şifre" required="" />
                <input type="submit" value="Giriş Yap">
            }
        </div>
        <div class="login-agileits-bottom">
            <h6><a href="#">Şifremi Unuttum</a></h6>
        </div>
        <br />
    </div>
</div> 


