@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model List<Departman>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/SweetAlertSil.js"></script>

<div class="container-fluid tbl_departman" ">
    <br />
    <h2>Departmanlar (Toplam Departman : @ViewBag.ToplamDepartman)</h2>
    <hr />
    <table class="table table-bordered" id="tbl1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Departman Adı</th>
                <th>Sil</th>
                <th>Güncelle</th>
                <th>Detaylar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DepartmanID</td>
                    <td>@item.DepartmanAd</td>
                    <td><a href="/Departman/DepartmanSil/@item.DepartmanID" id="Button3" runat="server" class="btn btn-danger btn-block" onclick="return conFunction(this);">Sil</a></td>
                    <td><a href="/Departman/DepartmanGetir/@item.DepartmanID" class="btn btn-success btn-block">Güncelle</a></td>
                    <td><a href="/Departman/DepartmanDetay/@item.DepartmanID" class="btn btn-block btn-dark">Detay</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" href="/Departman/DepartmanEkle">Yeni Departman</a>
</div>

