
@{
    ViewBag.Title = "CariKargoDetay";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@model List<KargoTakip>
<div class="container-fluid tbl_cariler">
    <br />
    <h2>Kargo Takip Sayfası</h2>
    <br />
    <table class="table table-striped display">
        <thead>
            <tr>
                <th>Açıklama</th>
                <th>Tarih</th>
            </tr>
        </thead>
        <tbody>
            @{int sayi = 0;}
            @foreach (var item in Model)
            {
                { sayi++; }
                <tr>
                    <td>Adım @sayi -  @item.Aciklama</td>
                    <td>@item.TarihZaman</td>
                </tr>
            }
        </tbody>
    </table>

</div>


