
@{
    ViewBag.Title = "GelenMesajlar";
    Layout = "~/Views/Shared/MesajLayout.cshtml";
}

@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@model List<Mesajlar>

@foreach (var item in Model)
{
    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Mesajı Oku</h3>
                <div class="card-tools">
                    <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                    <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="mailbox-read-info">
                    <h5>Konu : @item.Konu</h5>
                    <h6>
                        İleti: @item.Gonderen
                        <span class="mailbox-read-time float-right">Tarih : @item.Tarih.ToString("d")</span>
                    </h6>
                </div>
                <div class="mailbox-read-message">
                    <h5>İçerik :</h5>
                    <p>
                        @item.Icerik
                    </p>
                </div>
                <!-- /.mailbox-read-message -->
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer -->
            <div class="card-footer">
                <a href="/CariPanel/MesajSil/@item.MesajID" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
}