
@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/MesajLayout.cshtml";
}
@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@model Mesajlar

<div class="col-md-9">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Mesaj Yaz</h3>
        </div>
        <!-- /.card-header -->
        @using (Html.BeginForm("YeniMesaj", "CariPanel", FormMethod.Post))
        {
            <div class="card-body">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Alici, new { @class = "form-control", @placeholder = "Kime: " })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Konu, new { @class = "form-control", @placeholder = "Konu: " })
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(x => x.Icerik, new { @class = "form-control", @row = "5", @id = "compose-texarea" })
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary ml-4"><i class="far fa-envelope"></i> Gönder</button>
            </div>
        }
        <!-- /.card-body -->
            </div>
    <!-- /.card -->
</div>


