@using OnlineTicariOtomasyon_ASPNET_MVC.Models.Siniflar
@model Yapilacaklar

<div class="modal fade" id="yeniYapilacakEkle" tabindex="-1" role="dialog" aria-labelledby="yapilacakModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yapilacakModalLabel">Yapılacaklar Listesine Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr />
            @using (Html.BeginForm("YapilacakEkleDonen", "Yapilacaklar", FormMethod.Post))
            {    
                <div class="form-group m-2">
                    <label class="labelAciklama">NOT</label>
                    @Html.TextAreaFor(x => x.Baslik, new { @class = "form-control", @rows="5" })
                </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">Kaydet</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            }
        </div>
    </div>
</div>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
